<li>

{{#link-to 'blog' blog.id}}<h3>{{blog.heading}}</h3>{{/link-to}} <br>{{blog.date}} {{blog.tag}} 

  {{#if isImageShowing}}
    <p><img src={{blog.image}} alt={{blog.heading}} width=600px ></p>
    <button {{action 'imageHide'}}>Hide image</button>
  {{else}}
     <button {{action 'imageShow'}}>Show image</button>
  {{/if}}
</li>
