<h2>More information about {{model.heading}} <br> {{model.date}}</h2>

{{update-blog blog=model update="update"}}

{{blog-detail blog=model destroyBlog="destroyBlog" destroyComment="destroyComment"}}

{{new-comment saveComment="saveComment" blog=model}}
